.toDoListInput {
    border: none;
}

.list-item-counter {
    color: gray;
    font-size: small;
}

.list-bottom-deco-1{
    width: 99%;
    height: 7px;
    border-top: none;
}

.list-bottom-deco-2{
    width: 98%;
    height: 7px;
    border-top: none;
}

.img-show-on-hover{
    display: none;
}

.list-group-item:hover .img-show-on-hover{
    display: block;
}
